*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  width: 100%;
  background-color: #262626;
}

/*==Header Menu==*/

header{
  width: 100%;
  height: 65px;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;

  top: 0;
  left: 0;
}

#img_logo{
  height: 50px;
  border-radius: 20%;
  margin-left: 3rem;
}

.btns_container{
  width: 450px;
  margin-left: 65%;
  display: flex;
  justify-content: space-around;
}

.btn_header{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  position: relative;
}

.btn_header::after{
  position: absolute;
  content: "";
  height: 4px;
  width: 0%;
  left: 0;
  bottom: 0;
  background: white;
  transition: width .2s ease;
}

.btn_header:hover::after{
  width: 100%;
}

/*==Home==*/

#section_inicio{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img_bg{
  width: 100%;
  height: 100%;
  background: url(imagens/Background-web.jpg);
  filter: blur(3px);
  -webkit-filter: blur(2px);
  position: absolute;
  z-index: -5;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*==Apresentação==*/

.container_inicio{
  width: 600px;
  height: 550px;
  position: relative;
  border: 4px #e4e4e4 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 1;
}

.button{
  margin: 1rem;
  padding: .5rem .8rem;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
  transition: .3s;
}

.paragrafo_inicio{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #a1a1a1;
}

.paragrafo_inicio::selection{
  background-color: #e4e4e4;
  color: #222222;
}

.titulos_principais{
  font-size: 2rem;
  color: #e4e4e4;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

#perfil{
  margin:  8rem 2rem;
}

#img_perfil{
  position: relative;
  z-index: 2;
  border: 4px solid white;
  border-radius: 50%;
  width: 200px;
  margin-top: 1rem;
}

#perfil h1{
  padding-top: 1rem;
}

#perfil p:first-of-type{
  padding: .8rem;
}

#perfil p:last-of-type{
  width: 490px;
}

#perfil button{
  margin-top: 3rem;
}

#perfil button:hover{
  color: black;
}

#perfil button::before{
  position: absolute;
  content: "";
  background-color: #e4e4e4;
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  z-index: -1;
  transition: all .5s ease;
}

#perfil button:hover::before{
  width: 100%;
}

#sobremim.display_none{
  display: none;
}

#sobremim .header_sobremim {
  display: flex;
  justify-content: end;
  width: 100%;
}

#sobremim button:hover{
  background-color: #e4e4e4;
  color: black;
}

#sobremim p{
  font-size: .9rem;
  padding: 1rem;
}

#sobremim p:first-of-type{
  padding-top: 0;
}

/*==Projetos==*/

#section_projetos{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section_projetos h2{
  margin-top: calc(2rem + 65px);
  padding-bottom: 1rem;
}

#tabela_projetos{
  display: flex;
  flex-direction: column;
}

.divider{
  width: calc(100% - 4rem);
  height: 4px ;
  background-color: #e4e4e4;
  border-radius: 2px;
}

.linha_de_projetos{
  width: calc(100vw - 4rem);
  height: 350px;
  display: flex;
  justify-content: space-around;
}

.linha_de_projetos{
  margin-top: 3rem;
}

.projeto{
  background-color: #e4e4e4;
  border-radius: 20px;
}

.projeto a{
  text-decoration: none;
}

.projeto .imagem_projeto{
  width: 450px;
  height: 265px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projeto .imagem_projeto a img{
  width: 420px;
  height: 240px;
  transition: all .2s;
}

.projeto .imagem_projeto a img:hover{
  transform: scale(.98);
}

.titulo_projeto , .descricao_projeto{
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
}

.titulo_projeto{
  font-size: 1.2rem;
  color: black;
  transition: color .2s;
}

.titulo_projeto:hover{
  color: #00bdb6;
}

.descricao_projeto{
  width: 400px;
  font-size: .9rem;
  color: #9c9c9c;

}

.descricao_projeto::selection{
  background-color: black;
  color: white;
}

/*==Contatos==*/

footer{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(60px + 1rem);
}

footer h3{
  margin-top: calc(2rem + 65px);
  padding-bottom: 1rem;
}

#card_contatos{
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

#card_contatos .titulos_principais{
  padding: 1rem 4rem 0rem 4rem;
}

#card_contatos a{
  border: white solid 2px;
  color: white;
  text-decoration: none;
  margin: 1.2rem;
  z-index: 0;
}

#card_contatos a:hover{
  color: black;
}

#card_contatos a::before{
  position: absolute;
  content: "";
  background-color: white;
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  z-index: -1;
  transition: all .5s ease;
}

#card_contatos a:hover::before{
  width: 100%;
}

#card_contatos #container_btns_contatos{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}